<div id="<%= dom_id country_currency %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Country:</strong>
    <%= country_currency.country_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Currency:</strong>
    <%= country_currency.currency_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Is primary:</strong>
    <%= country_currency.is_primary %>
  </p>

</div>
