<div id="<%= dom_id timezone %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= timezone.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Gmt offset:</strong>
    <%= timezone.gmt_offset %>
  </p>

</div>
