<div id="<%= dom_id frequency %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= frequency.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= frequency.description %>
  </p>

</div>
