<div id="<%= dom_id item_category %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Inventory item:</strong>
    <%= item_category.inventory_item_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Inventory category:</strong>
    <%= item_category.inventory_category_id %>
  </p>

</div>
