<div id="<%= dom_id currency %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= currency.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Iso code:</strong>
    <%= currency.iso_code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Symbol:</strong>
    <%= currency.symbol %>
  </p>

</div>
