<div id="<%= dom_id language %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= language.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Iso code2:</strong>
    <%= language.iso_code2 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Iso code3:</strong>
    <%= language.iso_code3 %>
  </p>

</div>
