<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Languages" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Languages</h1>
    <%= link_to "New language", new_language_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="languages" class="min-w-full">
    <% @languages.each do |language| %>
      <%= render language %>
      <p>
        <%= link_to "Show this language", language, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
