<div id="<%= dom_id country_language %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Country:</strong>
    <%= country_language.country_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Language:</strong>
    <%= country_language.language_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Is primary:</strong>
    <%= country_language.is_primary %>
  </p>

</div>
