<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New country language</h1>

  <%= render "form", country_language: @country_language %>

  <%= link_to "Back to country languages", country_languages_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
