<div id="<%= dom_id warehouse %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= warehouse.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= warehouse.location %>
  </p>

</div>
