<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Plants" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Plants</h1>
    <%= link_to "New plant", new_configuration_plant_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="configuration_plants" class="min-w-full">
    <% @configuration_plants.each do |configuration_plant| %>
      <%= render configuration_plant %>
      <p>
        <%= link_to "Show this plant", configuration_plant, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
