<div class="flex flex-col flex-start justify-start mx-auto md:h-screen dark:bg-gray-900">
  <div class="w-full p-6 space-y-2 sm:p-8 bg-white rounded-lg shadow dark:bg-gray-800">
    <h1 class="text-2xl font-bold text-gray-900 dark:text-white">New country</h1>

    <%= render "form", country: @country %>

    <%= link_to "Back to countries", countries_path,
                class: 'mr-auto text-sm text-blue-700 hover:underline dark:text-blue-500 block mt-0' %>
  </div>
</div>
