<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing asset component</h1>

  <%= render "form", maintenance_asset_component: @maintenance_asset_component %>

  <%= link_to "Show this asset component", @maintenance_asset_component, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to asset components", maintenance_asset_components_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
