<div id="<%= dom_id responsible %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= responsible.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Speciality:</strong>
    <%= responsible.speciality %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= responsible.status %>
  </p>

</div>
