/* Application styles */

/* Rubik Variable Font */
@font-face {
    font-family: 'Rubik';
    src: url('Rubik-Latin-Normal.woff2') format('woff2');
    font-weight: 300 900;
    font-style: normal;
}

/* Rubik Variable Italic Font */
@font-face {
    font-family: 'Rubik';
    src: url('Rubik-Latin-Italic.woff2') format('woff2');
    font-weight: 300 900;
    font-style: italic;
}

/* Open Sans Variable Font */
@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Latin-Normal.woff2') format('woff2');
    font-weight: 300 800;
    font-style: normal;
}

/* Open Sans Variable Italic Font */
@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Latin-Italic.woff2') format('woff2');
    font-weight: 300 800;
    font-style: italic;
}

/* Aplicación de las fuentes */
h1, h2, h3, h4, h5, h6, .app-title {
    font-family: 'Rubik', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
}
