<div id="<%= dom_id measure_unit %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= measure_unit.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Abbreviation:</strong>
    <%= measure_unit.abbreviation %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Measure unit type:</strong>
    <%= measure_unit.measure_unit_type.name %>
  </p>

</div>
