<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New measure unit</h1>

  <%= render "form", measure_unit: @measure_unit %>

  <%= link_to "Back to measure units", measure_units_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
