<div id="<%= dom_id asset_assignee %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Maintenance asset:</strong>
    <%= asset_assignee.maintenance_asset_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Maintenance technician:</strong>
    <%= asset_assignee.maintenance_technician_id %>
  </p>

</div>
