<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Asset assignees" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Asset assignees</h1>
    <%= link_to "New asset assignee", new_maintenance_asset_assignee_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="maintenance_asset_assignees" class="min-w-full">
    <% @maintenance_asset_assignees.each do |maintenance_asset_assignee| %>
      <%= render maintenance_asset_assignee %>
      <p>
        <%= link_to "Show this asset assignee", maintenance_asset_assignee, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
